{% extends "layouts/base.html.j2" %}

{% block content %}
{{ posts }}
{% if posts is defined and posts is sequence %}
{% for name, content in posts.items() %}
    <div>
        <h2>{{ content.title }}</h2>
        {{ content.content }}
    </div>
{% endfor %}
{% endif %}
{% endblock %}
