<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site_description }}">
    <meta name="author" content="{{ maintainer }}">
    <title>{{ site_name }}{% if sub_title is defined%} - {{ sub_title }}{% elif page_title is defined %} - {{ page_title }}{% elif post_title is defined %} - {{ post_title }}{% endif %}</title>

    <!-- Bootstrap CSS/JS - https://getbootstrap.com -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    {% block css %}
    {% endblock %}
</head>
<body>
   <div class="container">
        <div class="header clearfix">
            {% if navbar is defined and navbar is sequence %}
            <nav>
                <ul class="nav nav-pills pull-right">
                    {% for nav_item in navbar %}
                    <li{%if nav_item.title|lower == active_page|lower %} class="active"{% endif %}><a href="{{ nav_item.href }}">{{ nav_item.title|title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <h3 class="text-muted">{{ site_name }}</h3>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <p>&copy; 2016 <a href="mailto:{{ maintainer_email }}">{{ maintainer }}</a> -- Generated by <a href="https://github.com/blakfeld/stasipy">Stasipy</a></p>
        </footer>
        {% block jscript%}
        {% endblock %}
    </div>
</body>
</html>
